{% extends 'base.html.twig' %}

{% block title %}
	Update on admin
{% endblock %}

{% block main %}

	<h1>Modif</h1>
	{{form_start(form)}}
	{{form_row(form.)}}
	<button>{{ labelBtn|default('Save') }}</button>
	{{form_end(form)}}

{% endblock %}
