:root {
    --font-title: 'Jolly Lodger';
    --font-text: 'inter';
    --font-color: rgb(255, 255, 255);
    --hover-color: rgb(199, 39, 18);
    --primary-color: rgb(0, 0, 0);
    --hoover-update: rgb(19, 199, 187);
}


*{
    text-decoration: none;
    list-style: none;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url("../img/background.webp");
}


/*******Header******/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight:bolder;
    background-color: var(--primary-color);
    height: 80px;
}

.blog-title{
    color: var(--font-color);
    font-family: var(--font-title);
    font-size: 3rem;
    margin-left: 2rem;

    a{
        color: var(--font-color);
        text-decoration: none;
        &:hover{
            color: var(--hover-color);
        }
      }
}

.navbar {
    color: var(--font-color);
    font-family: var(--font-title);
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    gap: 2rem;

    a{
        color: var(--font-color);
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover{
            color: var(--hover-color);
            cursor: pointer;
        }
      }
}

.navbar-link {
    color: var(--font-color);
    list-style: none;
    font-size: 2.5rem;
}

.connexion {
    font-family: var(--font-title);
    font-size: 2.5rem;
    gap: 15px;
    margin-right: 2rem;
      a{
        color: var(--font-color);
        text-decoration: none;
        &:hover{
            color: var(--hover-color);
        }
      }
}

.log {
    color: var(--font-color);
}

.icons {
    width: 30px;
    height: 30px;
    filter: invert(2);
    color: var(--font-color);
}

h1,h3{
    color: var(--font-color);
}


/*******Footer******/
footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: var(--font-title);
    font-weight: bolder;
    color: var(--font-color);
    height: 55px;
}

.footer-title {
    color: var(--font-color);
    font-size: 2rem;
    font-family: var(--font-title);
}

.footbar-list, .navbar-list{
    display: flex;
    gap: 15px;
    a{
        color: var(--font-color);
        text-decoration: none;

        &:hover{
            color: var(--hover-color);
        }
    }
}

.navbar-footer {
    color: var(--font-color);
    font-family: var(--font-title);
    font-size: 1.75rem;
}

.rights-content {
    color: var(--font-color);
    font-family: var(--font-title);
    font-size: 1.5rem;
}

/*Responsive

@media screen and (min-width:768px) {
    html {
        font-size: 62.5%;
    }
} */