main{
    display: flex;    
    flex-direction: column;
    align-items: center;
}


article {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 80%;
        height: 100%;

     .article-header {
        display: flex;
        align-items: flex-end;
        width: 80%;
        height: 40vh;
        background-size:cover;
        border-radius: 20px;
        margin-top: 2rem;
     }
}

.btn-back-list {
    font-family: var(--font-text);
    font-size: 1.2rem;
    font-style: bolder;
    text-decoration: none;
    color: var(--font-color);
    border: 2px solid var(--font-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


h1{
    font-family: var(--font-text);
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
}

.article-content {
    font-family: var(--font-text);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    width: 80%;
    height: 3px;
    background-color: var(--font-color);
}

h3 {
    font-family: var(--font-title);
    font-size: 2rem;
}

.bottom-container {
     display: flex;
     justify-content: center;
     gap: 2rem;
     width: 80%;
     height: 100%;
     font-family: var(--font-text);
     color: var(--font-color);
     margin-top: 3rem;
     margin-bottom: 3rem;

        .bottom-one {
            width: 30%;
            height: 35vh;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            background-size:cover
        }
 }
