main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--font-title);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

label{
    font-family: var(--font-text);
    font-size: 1.2rem;
}

.btn-save-article {
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
}