main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

h1 {
    font-family: var(--font-title);
    font-size: 4rem;
    color: var(--font-color);
    text-align: center;
    margin: 2rem 0 3rem;
    height: auto;
}

h3 {
    font-family: var(--font-text);
    font-size: 1rem;
    a{
        color: var(--font-color);
        font-size: 2.5rem;
        text-decoration: none;

        &:hover{
            color: var(--hover-color);
        }
      }
}


/* TOP CONTAINER */

.top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    font-family: var(--font-text);
    color: var(--font-color);
    
       
    .first-article {
        display: flex;
        justify-content: flex-start;
        width: 40%;
        height: 100%;
        margin-left: 3rem;
        background-size: cover;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .container-top-articles {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 1rem;
        width: 60%;
        height: 100%;
        margin-right: 3rem;

        .second-one{
            display: flex;
            justify-content: flex-start;
            width: 70%;
            height: 35vh;
            background-size:cover;
            transition: all 0.2s ease-in-out;

            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

}

.container {
    display:flex;
    flex-direction: column;
    gap: 3rem;
}

.separator {
    width: 100%;
    height: 3px;
    background-color: var(--font-color);
}


.cards {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cards:hover {
    transform: translateY(-5px);
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: white;
}

.card-excerpt {
    font-size: 0.9rem;
    opacity: 0.9;
}

/* BOTTOM CONTAINER */

.subtitle{
    font-family: var(--font-title);
    font-size: 3rem;
    text-decoration: none;
    margin: 2rem 0 3rem;
    height: auto;

    a{
        text-decoration: none;
        color: var(--font-color);
        transition: all;
    }

    a:hover{
        color: var(--hover-color);
        cursor: pointer;
    }
}

.bottom-container {
width: 100%;
font-family: var(--font-text);
color: var(--font-color);

    .container-bottom-articles {
        display: flex;
        margin-left: 1.2rem;
        gap: 2rem;

        .bottom-one {
            width: 30%;
            height: 35vh;
            display: flex;
            justify-content: flex-end;
            background-size:cover;
            transition: all 0.2s ease-in-out;

            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}

/* RESPONSIVE 

@media screen and (min-width:768px) {
    .top-container {
        flex-direction: column;
        height: 80%;
          .first-article {
            width: 100%;
            height: 20vh;
          }

          .container-top-articles{
             flex-direction: row ;
             width: 100%;
             height: auto;
             .second-one {
                width: 45%;
                height: 20vh;
             }
          }
    }

    .bottom-container {

        h3{
            text-align: center;
        }

        .container-bottom-articles {
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            .bottom-one {
                width: 100%;
                height: 15vh;
            }
        }
    }

} */