main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--font-title);
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0 3rem;
    color: white;
}

.create-link {
    display: flex;
    justify-content: center;
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--font-color);
    text-decoration: none;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: var(--font-text);
    gap: 1rem;
}

.category-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 15%;
    height: 40%;
    margin-bottom: 1rem;
}

.category-card h2 {
    align-items: center;
    font-family: var(--font-text);
    font-size: 1.5rem;
    text-align: center;
    color: var(--font-color);
    margin: 0 0 2rem 0;
}


/* ACTIONS (BOUTONS UPDATE ET DELETE) */

.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}


.btn-update {
    color: var(--font-color);
    font-family: var(--font-text);
    transition: all 0.2s ease-in-out;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        color: var(--hoover-update);
    }
}

.btn-delete {
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--font-color);
    border:none;
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        color: var(--hover-color);
        font-weight: bolder;
    }
}