body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    margin-bottom: 3rem;
}

h1{
    font-family: var(--font-title);
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-text);
    color: var(--font-color);
    width: 60%;
    height: 100%;
    margin: 2rem;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #7f6a3d;
    border-radius: 10px;
    color: var(--font-color);
}


label {
    font-size: 2rem;
    font-family: var(--font-title);
}

input {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 3px solid var(--font-color);
}

.btn {
    font-family: var(--font-title);
    font-size: 2rem;
    text-decoration: none;
    color: black;
    border: 2px solid var(--font-color);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;

    &:hover{
        cursor: pointer;
        background-color: var(--hover-color);
        border-color: var(--primary-color);
    }
}
