main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--font-title);
    font-size: 4rem;
}

.form-group {
    max-width: 800px;
    margin: 2rem;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #7f6a3d;
    border-radius: 10px;
    color: var(--font-color);
}

label {
    font-family: var(--font-text);
    font-size: 1.2rem;
    color: var(--font-color);
    margin-bottom: 0.5rem;
}

input[type="text"], textarea, select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #000000;
    box-shadow: 3px 4px 2px 0px #7f6a3d;
    border-radius: 10px;
    width: 100%;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.btn-save-categ {
    background-color: #7f6a3d;
    color: var(--font-color);
    border: none;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.8rem 1.2rem;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}