<footer>
		<h3 class="footer-title">Under Music Core</h3>
		<div class="footbar">
			<ul class="footbar-list">
				<li class="navbar-footer">
					<a href="{{path('app_home')}}" class="footer-link">Home</a>
				</li>
				<li class="navbar-footer">
					<a href="{{path('app_listArticles')}}" class="footer-link">Articles</a>
				</li>
			</ul>
		</div>
		<div class="rights">
			<p class="rights-content">Copyright 2025. All Rights Reserved</p>
		</div>
</footer>

